<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>vueを使ってaxiosを学ぶ</title>
</head>

<body>
    <div id="app">
        <input v-model="name"><br>
        <button v-on:click="createNewUser">作成</button>
        <ul>
            <li v-for='user in users'>{{ user.name }}</li>
        </ul>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
new Vue({
    el: '#app',
    data: {
        users: [],
        name:''
    },
    methods: {
        createNewUser: function(){
            axios.post('https://jsonplaceholder.typicode.com/users',{
                name:this.name
            })
            .then(response => this.users.unshift(response.data))
            .catch(error => console.log(error))
        }
    },
    mounted : function(){
        axios.get('https://jsonplaceholder.typicode.com/users',
        {
            params: {
                name: 'Glenna Reichert'
            }
        })
            .then(response => this.users = response.data)
            .catch(error => console.log(error))
    }
})
</script>
</body>
</html>